<!-- FOOTER -->
<footer class="container pt-4 pb-0">
    <p class="btn float"><a href="https://www.mdp.edu.ar/"><img class="hovereable" src="img\logo-uni.svg" height="40" width="40"></a></p>
    <p class="btn float"><a href="https://www.fi.mdp.edu.ar/"><img class="hovereable" src="img\logo-verde.svg" height="55" width="55"></a></p>
    <p class="btn float"><a href="https://campus.fi.mdp.edu.ar/"><img class="hovereable" src="img\moodle.svg" height="50" width="55"></a></p>
    <p class="btn float"><a href="https://www.instagram.com/cei_unmdp/"><img class="rounded-pill hovereable" src="img\cei.jpg" height="50" width="55"></a></p>
    <p class="btn float"><a href="http://guaranifi.mdp.edu.ar/ingenieriaweb/acceso/login?ref=http://guaranifi.mdp.edu.ar/ingenieriaweb/inicial.php"><img class="hovereable" src="img\siu-guarani.png" height="55" width="180"></a></p>

    <p class="btn float-end"><a href="https://www.instagram.com/ingenieria.unmdp/"><img class="grey-filter hovereable" src="img\logo-instagram.svg" height="35" width="35" alt=""></a></p>
    <p class="btn float-end"><a href="https://twitter.com/fi_unmdp"><img class="grey-filter hovereable" src="img\logo-twitter.svg" height="35" width="35" alt=""></a></p>
    <p class="btn float-end"><a href="https://www.facebook.com/ingenieria.unmdp/"><img class="grey-filter hovereable" src="img\logo-facebook.svg" height="35" width="35" alt=""></a></p>
</footer>