<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--Contenido del head-->
        <div th:replace="fragments/inner-head"></div>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div class="container">
            <title>Admin panel</title>
        </div>

    </head>
    <body>
        <!-- HEADER -->
        <header>
            <div th:replace="fragments/navbar"></div>
        </header>

        <div class="container">
            <h1>Administración de graduados</h1>
        </div>

        <a class="page-link" th:href="@{|/admin/graduados/editar/0|}">Nuevo</a>
        
        <div class="container">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8 mb-5">
              <table class="table table-striped align-middle text-center">
                <thead class="table-borderless">
                  <tr class="table-header">
                    <td><h2 class="table-header-text">Alumno</h2></td>
                    <td><h2 class="table-header-text">Año de Egreso</h2></td>
                    <td><h2 class="table-header-text">Acciones</h2></td>
                  </tr>
                </thead>

                <tbody class="table-borderless" style="border-top: none !important;">
                  <tr th:each="graduado :${graduados}">
                    <td><h4 class="py-2" th:text="${graduado.nombre_completo}"></h4></td>
                    <td><h4 class="py-2" th:text="${graduado.fecha}"></h4></td>
                    <td>
                      <a type="button" th:href="@{/admin/graduados/editar/{id}(id=${graduado.id_graduado})}" class="btn btn-info">Editar</a>
                      <a type="button" onclick="return confirm('Seguro que desea eliminar este item?');" th:href="@{/admin/graduados/delete/{id}(id=${graduado.id_graduado})}" class="btn btn-danger">Eliminar</a>
                    </td>
                  </tr>
                </tbody>
              
              </table>
            </div>
            <div class="col-2"></div>
          </div>
        </div>

        <!-- SCRIPTS -->
        <script th:src="@{\js\bootstrap.bundle.min.js}"></script>
    </body>
</html>