<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--Contenido del head-->
        <div th:replace="fragments/inner-head"></div>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div class="container">
            <title>Admin panel</title>
        </div>

    </head>
    <body>
        <!-- HEADER -->
        <header>
            <div th:replace="fragments/navbar"></div>
        </header>

        <main>
          <div class="container mt-5 pb-2">
            <h1 class="title modal-header ps-0">Panel de Control
              <div class="text-end">
                <a type="button" class="btn btn-style rounded px-4" data-bs-toggle="dropdown" aria-expanded="false">
                  <h5 class="pt-2">Tablas Disponibles <img th:src="@{/img/arrow-down.svg}" height="20" width="20" class="white-filter"></h5>
                </a>
                <ul class="dropdown-menu dropdown-menu-tablas">
                  <li><a class="dropdown-item dd-space" th:href="@{|/admin/graduados|}">Graduados</a></li>
                  <li><a class="dropdown-item dd-space">Calendario Académico</a></li>
                  <li><a class="dropdown-item dd-space">Elecciones</a></li>
                </ul>
              </div>
            </h1>
          </div>
        </main>
        
        <!-- SCRIPTS -->
        <script src="js\bootstrap.bundle.min.js"></script>
    </body>
</html>