<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--Contenido del head-->
        <div th:replace="fragments/inner-head"></div>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div class="container">
            <title>Admin Panel</title>
        </div>

    </head>
    <body>
        <!-- HEADER -->
        <header>
            <div th:replace="fragments/navbar"></div>
        </header>
        
        <main>
          <!-- ADMIN HEADER -->
          <div th:replace="@{/fragments/admin-header}"></div>
  
          <div class="container mt-3 pb-2">
            <h1 class="sub-title modal-header ps-0">
              Trabajos Finales
              <div class="text-end">
                <a th:href="@{|/admin/trabajosfinales/editar/0|}" type="button" class="btn btn-add hovereable">
                  <h5 class="mb-0 pt-1 ps-2">Nuevo <img th:src="@{/img/add.svg}" height="30" width="30" class="white-filter"></h5>
                </a>
              </div>
            </h1>
          </div>
        
          <div class="container">
            <div class="row">
              <div class="col-12 mb-5 px-4">
                <table class="table table-striped align-middle text-center">
                  <thead class="table-borderless">
                    <tr class="table-header">
                      <td><h3 class="table-header-text-mini">Titulo</h3></td>
                      <td><h3 class="table-header-text-mini">Estudiantes</h3></td>
                      <td><h3 class="table-header-text-mini">Demandante</h3></td>
                      <td><h3 class="table-header-text-mini">Acciones</h3></td>
                    </tr>
                  </thead>
  
                  <tbody class="table-borderless" style="border-top: none !important;">
                    <tr th:each="item :${trabajosfinales}">
                      <td><h5 class="py-2" th:text="${item.titulo}"></h5></td>
                      <td><h5 class="py-2" th:text="${item.estudiantes}"></h5></td>
                      <td><h5 class="py-2" th:text="${item.demandante}"></h5></td>
                      <td>
                        <a th:href="@{/admin/trabajosfinales/editar/{id}(id=${item.id_trabajo_final})}" type="button" class="btn btn-edit hovereable mx-1">
                          <img th:src="@{/img/edit-pen.svg}" height="20" width="20" class="white-filter">
                        </a>
                        <a onclick="return confirm('Seguro que desea eliminar este item?');" th:href="@{/admin/trabajosfinales/delete/{id}(id=${item.id_trabajo_final})}" type="button" class="btn btn-delete hovereable mx-1">
                          <img th:src="@{/img/trash.svg}" height="20" width="20" class="white-filter">
                        </a>
                      </td>
                    </tr>
                  </tbody>
                
                </table>
              </div>
            </div>
          </div>
        </main>


        <!-- SCRIPTS -->
        <script th:src="@{\js\bootstrap.bundle.min.js}"></script>
    </body>
</html>