<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--Contenido del head-->
        <div th:replace="fragments/inner-head"></div>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div class="container">
            <title>Admin panel</title>
        </div>

    </head>
    <body>
        <!-- HEADER -->
        <header>
            <div th:replace="fragments/navbar"></div>
        </header>
        
        <main>
          <!-- ################################################################# -->
          <div class="container mt-5 pb-2">
            <h1 class="title modal-header ps-0">Panel de Control
              <div class="text-end">
                <a type="button" class="btn btn-style rounded px-4" data-bs-toggle="dropdown" aria-expanded="false">
                  <h5 class="pt-2">Tablas Disponibles <img th:src="@{/img/arrow-down.svg}" height="20" width="20" class="white-filter"></h5>
                </a>
                <ul class="dropdown-menu dropdown-menu-tablas">
                  <li><a class="dropdown-item dd-space" th:href="@{|/admin/graduados|}">Graduados</a></li>
                  <li><a class="dropdown-item dd-space" th:href="@{|/admin/calendario|}">Calendario Académico</a></li>
                  <li><a class="dropdown-item dd-space">Elecciones</a></li>
                </ul>
              </div>
            </h1>
          </div>
          <!-- ################################################################# -->
  
          <div class="container mt-3 pb-2">
            <h1 class="sub-title modal-header ps-0">
              Calendario Academico
              <div class="text-end">
                <a th:href="@{|/admin/calendario/editar/0|}" type="button" class="btn btn-add hovereable">
                  <img th:src="@{/img/add.svg}" height="40" width="40" class="white-filter">
                </a>
              </div>
            </h1>
          </div>
        
          <div class="container">
            <div class="row">
              <div class="col-2"></div>
              <div class="col-8 mb-5">
                <table class="table table-striped align-middle text-center">
                  <thead class="table-borderless">
                    <tr class="table-header">
                      <td><h2 class="table-header-text">id</h2></td>
                      <td><h2 class="table-header-text">Fecha inicio</h2></td>
                      <td><h2 class="table-header-text">Fecha fin</h2></td>
                      <td><h2 class="table-header-text">Motivo</h2></td>
                      <td><h2 class="table-header-text">url</h2></td>
                      <td><h2 class="table-header-text">Acciones</h2></td>
                    </tr>
                  </thead>
  
                  <tbody class="table-borderless" style="border-top: none !important;">
                    <tr th:each="item :${calendario}">
                      <td><h4 class="py-2" th:text="${item.id_calendario_academico}"></h4></td>
                      <td><h4 class="py-2" th:text="${item.fecha_inicio}"></h4></td>
                      <td><h4 class="py-2" th:text="${item.fecha_fin}"></h4></td>
                      <td><h4 class="py-2" th:text="${item.concepto}"></h4></td>
                      <td><h4 class="py-2" th:text="${item.url}"></h4></td>
                      <td>
                        <a th:href="@{/admin/calendario/editar/{id}(id=${item.id_calendario_academico})}" type="button" class="btn btn-edit hovereable me-1">
                          <img th:src="@{/img/edit-pen.svg}" height="20" width="20" class="white-filter">
                        </a>
                        <a onclick="return confirm('Seguro que desea eliminar este item?');" th:href="@{/admin/calendario/delete/{id}(id=${item.id_calendario_academico})}" type="button" class="btn btn-delete hovereable ms-1">
                          <img th:src="@{/img/trash.svg}" height="20" width="20" class="white-filter">
                        </a>
                      </td>
                    </tr>
                  </tbody>
                
                </table>
              </div>
              <div class="col-2"></div>
            </div>
          </div>
        </main>


        <!-- SCRIPTS -->
        <script th:src="@{\js\bootstrap.bundle.min.js}"></script>
    </body>
</html>