<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--Contenido del head-->
        <div th:replace="fragments/inner-head"></div>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div class="container">
            <title>Admin Panel</title>
        </div>

    </head>
    <body>
        <!-- HEADER -->
        <header>
            <div th:replace="fragments/navbar"></div>
        </header>

        <main>
          <div class="container mt-5 pb-2">
            <h1 class="title modal-header">Autoridades</h1>
          </div>

          <div class="container">
            <form th:action="@{/admin/autoridades/{id}(id=${autoridad.id_autoridad})}" th:object="${autoridad}" method="post" enctype="multipart/form-data">      
              <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" th:value="*{director}" name="director" id="director" placeholder="director" required>
                    <label for="username" class="text-muted">Director</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" th:value="*{vicedirector}" name="vicedirector" id="vicedirector" placeholder="vicedirector" required>
                    <label for="username" class="text-muted">Vicedirector</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" th:value="*{url}" name="url" id="url" placeholder="url">
                    <label for="url" class="text-muted">url</label>
                  </div>
                  <h5 class="mb-1">Imagen director</h5>
                  <div class="input-group mb-3">
                    <input type="file" name="imagedir" class="form-control" id="imagedir" accept="image/png, image/jpg, image/jpeg">
                    <label class="input-group-text" for="imagedir">Tamaño máximo: 1048576 bytes</label>
                  </div>
                  <h5 class="mb-1">Imagen vicedirector</h5>
                  <div class="input-group mb-3">
                    <input type="file" name="imagevice" class="form-control" id="imagevice" accept="image/png, image/jpg, image/jpeg">
                    <label class="input-group-text" for="imagevice">Tamaño máximo: 1048576 bytes</label>
                  </div>
                  <button class="btn btn-navbar w-100" type="submit"><h5>Guardar</h5></button>
                </div>
                <div class="col-2"></div>
              </div>
            </form>
          </div>
        </main>

        <!-- SCRIPTS -->
        <script th:src="@{\js\bootstrap.bundle.min.js}"></script>
    </body>
</html>