<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--Contenido del head-->
        <div th:replace="fragments/inner-head"></div>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div class="container">
            <title>Admin Panel</title>
        </div>

    </head>
    <body>
        <!-- HEADER -->
        <header>
            <div th:replace="fragments/navbar"></div>
        </header>

        <main>
          <div class="container mt-5 pb-2">
            <h1 class="title modal-header">Consejo Alumnos</h1>
          </div>

          <div class="container">
            <form th:action="@{/admin/consejoalumnos/{id}(id=${consejoalumnos.id_consejo_alumnos})}" th:object="${consejoalumnos}" method="post">      
              <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" th:value="*{nombre}" name="nombre" id="nombre" placeholder="nombre" required>
                    <label for="username" class="text-muted">Nombre</label>
                  </div>
                  <h5 class="mb-2">Tipo</h5>
                  <select class="form-select mb-3" th:field="*{tipo}" id="tipo" name="tipo">
                    <option th:value="'T'" th:text="|Titular|"></option>
                    <option th:value="'S'" th:text="|Suplente|"></option>
                  </select>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" th:value="*{url}" name="url" id="url" placeholder="url">
                    <label for="url" class="text-muted">url</label>
                  </div>
                  <button class="btn btn-navbar w-100" type="submit"><h5>Guardar</h5></button>
                </div>
                <div class="col-2"></div>
              </div>
            </form>
          </div>
        </main>

        <!-- SCRIPTS -->
        <script th:src="@{\js\bootstrap.bundle.min.js}"></script>
    </body>
</html>