<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--Contenido del head-->
        <div th:replace="fragments/inner-head"></div>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div class="container">
            <title>Admin Panel</title>
        </div>

    </head>
    <body>
        <!-- HEADER -->
        <header>
            <div th:replace="fragments/navbar"></div>
        </header>

        <main>
          <div class="container mt-5 pb-2">
            <h1 class="title modal-header">Asignatura Optativa</h1>
          </div>

          <div class="container">
            <form th:action="@{/admin/optativas/{id}(id=${optativas.id_optativa})}" th:object="${optativas}" method="post">      
              <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                  <h5 class="mb-2">Asignatura</h5>
                  <select class="form-select mb-3" th:field="*{id_asinatura}" id="id_asinatura" name="id_asinatura">
                    <option th:each="a : ${asignaturas}" th:value="${a.id_asinatura}" th:text="${a.titulo}"></option>
                  </select>
                  <div class="form-floating mb-3">
                    <input type="number" class="form-control" th:value="*{cuatrimestre}" name="cuatrimestre" id="cuatrimestre" placeholder="cuatrimestre" required>
                    <label for="cuatrimestre" class="text-muted">Cuatrimestre</label>
                  </div>
                  <button class="btn btn-navbar w-100" type="submit"><h5>Guardar</h5></button>
                </div>
                <div class="col-2"></div>
              </div>
            </form>
          </div>
        </main>

        <!-- SCRIPTS -->
        <script th:src="@{\js\bootstrap.bundle.min.js}"></script>
    </body>
</html>