<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--Contenido del head-->
        <div th:replace="fragments/inner-head"></div>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div class="container">
            <title>Admin Panel</title>
        </div>

    </head>
    <body>
      <!-- HEADER -->
      <header>
          <div th:replace="fragments/navbar"></div>
      </header>
      
      <main>
        <div class="container mt-5 pb-2">
          <h1 class="title modal-header">Cargo</h1>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <form th:action="@{/admin/cargos/{id}(id=${cargo.id_cargo})}" th:object="${cargo}" method="post">
								<h5 class="mb-2">Asignatura</h5>
								<select class="form-select mb-3" th:field="*{id_asignatura}" id="id_asignatura" name="id_asignatura">
									<option th:each="asignatura : ${asignaturas}" th:value="${asignatura.id_asignatura}" th:text="${asignatura.titulo}"></option>
								</select>
								<h5 class="mb-2">Tipo de Cargo</h5>
								<select class="form-select mb-3" th:field="*{id_tipo_cargo}" id="id_tipo_cargo" name="id_tipo_cargo">
									<option th:each="tc : ${tipocargo}" th:value="${tc.id_tipo_cargo}" th:text="${tc.nombre}"></option>
								</select>
								<h5 class="mb-2">Dedicación</h5>
								<select class="form-select mb-3" th:field="*{id_dedicacion}" id="id_dedicacion" name="id_dedicacion">
									<option th:each="d : ${dedicacion}" th:value="${d.id_dedicacion}" th:text="${d.nombre}"></option>
								</select>
								<h5 class="mb-2">Docente</h5>
								<select class="form-select mb-3" th:field="*{id_docente}" id="id_docente" name="id_docente">
									<option th:each="docente : ${docentes}" th:value="${docente.id_docente}" th:text="${docente.nombre_completo}"></option>
								</select>
                
                <button class="w-100 btn btn-lg btn-navbar" type="submit"><h5>Guardar</h5></button>
              </form>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
      </main>

      <!-- SCRIPTS -->
      <script th:src="@{\js\bootstrap.bundle.min.js}"></script>
    </body>
</html>


 