<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--Contenido del head-->
        <div th:replace="fragments/inner-head"></div>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div class="container">
            <title>Admin Panel</title>
        </div>

    </head>
    <body>
        <!-- HEADER -->
        <header>
            <div th:replace="fragments/navbar"></div>
        </header>
        <main>
          <div class="container mt-5 pb-2">
            <h1 class="title modal-header">Calendario Académico</h1>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-2"></div>
              <div class="col-8">
                <form th:action="@{/admin/calendario/{id}(id=${calendario.id_calendario_academico})}" th:object="${calendario}" method="post">
                  <div class="form-floating mb-3">
                    <input type="date" class="form-control" th:value="*{fecha_inicio}" name="fecha_inicio" id="fecha_inicio" placeholder="fecha inicio" required>
                    <label for="fecha_inicio" class="text-muted">Fecha inicio</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="date" class="form-control" th:value="*{fecha_fin}" name="fecha_fin" id="fecha_fin" placeholder="fecha fin" required>
                    <label for="fecha" class="text-muted">Fecha fin</label>
                  </div>
                  <div class="form-group mb-3">
                    <label for="concepto"><h5 class="mb-1">Motivo</h5></label>
                    <textarea class="form-control" th:text="*{concepto}" name="concepto" id="concepto" rows="5" required></textarea>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" th:value="*{url}" name="url" id="url" placeholder="url">
                    <label for="url" class="text-muted">url</label>
                  </div>
                  <button class="w-100 btn btn-lg btn-navbar" type="submit"><h5>Guardar</h5></button>
                </form>
              </div>
              <div class="col-2"></div>
            </div>
          </div>
        </main>
        <!--Formulario-->

        <!-- SCRIPTS -->
        <script th:src="@{\js\bootstrap.bundle.min.js}"></script>
    </body>
</html>