<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--Contenido del head-->
        <div th:replace="fragments/inner-head"></div>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div class="container">
            <title>Admin Panel</title>
        </div>

    </head>
    <body>
      <!-- HEADER -->
      <header>
          <div th:replace="fragments/navbar"></div>
      </header>
      
      <main>
        <div class="container mt-5 pb-2">
          <h1 class="title modal-header">Asignatura</h1>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <form th:action="@{/admin/asignaturas/{id}(id=${asignatura.id_asignatura})}" th:object="${asignatura}" method="post">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" th:value="*{codigo}" name="codigo" id="codigo" placeholder="codigo" required>
                  <label for="codigo" class="text-muted">Código</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" th:value="*{titulo}" name="titulo" id="titulo" placeholder="titulo" required>
                  <label for="titulo" class="text-muted">Título</label>
                </div>
                <h5 class="mb-2">Área</h5>
                <select class="form-select mb-3" th:field="*{id_area}" id="id_area" name="id_area">
                  <option th:each="area : ${areas}" th:value="${area.id_area}" th:text="${area.titulo}"></option>
                </select>
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" th:value="*{creditos_grado}" name="creditos_grado" id="creditos_grado" placeholder="creditos_grado">
                  <label for="creditos_grado" class="text-muted">Créditos de Grado</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" th:value="*{url}" name="url" id="url" placeholder="url">
                  <label for="url" class="text-muted">url</label>
                </div>
                <button class="w-100 btn btn-lg btn-navbar" type="submit"><h5>Guardar</h5></button>
              </form>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
      </main>

      <!-- SCRIPTS -->
      <script th:src="@{\js\bootstrap.bundle.min.js}"></script>
    </body>
</html>


 