<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--Contenido del head-->
        <div th:replace="fragments/inner-head"></div>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div class="container">
            <title>Admin Panel</title>
        </div>

    </head>
    <body>
        <!-- HEADER -->
        <header>
            <div th:replace="fragments/navbar"></div>
        </header>

        <main>
          <div class="container mt-5 pb-2">
            <h1 class="title modal-header">Novedad</h1>
          </div>

          <div class="container">
            <form th:action="@{/admin/novedades/{id}(id=${novedad.id_novedad})}" th:object="${novedad}" method="post">      
              <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                  <div class="form-floating mb-2">
                    <input type="text" class="form-control" th:value="*{titulo}" name="titulo" id="titulo" placeholder="titulo" required>
                    <label for="username" class="text-muted">Título</label>
                  </div>
                  <div class="form-floating mb-2">
                    <input type="date" class="form-control" th:value="*{fecha}" name="fecha" id="fecha" placeholder="fecha en formato dd-MM-yyyy" required>
                    <label for="fecha" class="text-muted">Fecha (dd-mm-aaaa)</label>
                  </div>
                  <div class="form-floating mb-2">
                    <input type="text" class="form-control" th:value="*{info}" name="info" id="info" placeholder="info" required>
                    <label for="username" class="text-muted">Contenido...</label>
                  </div>
                  <button class="btn btn-navbar w-100" type="submit"><h5>Guardar</h5></button>
                </div>
                <div class="col-2"></div>
              </div>
            </form>
          </div>
        </main>

        <!-- SCRIPTS -->
        <script th:src="@{\js\bootstrap.bundle.min.js}"></script>
    </body>
</html>