<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/inner-head"></div>
    <title>Autoridades</title>
  </head>
  <body>
    <header>
      <!-- NAVBAR -->
      <div th:replace="fragments/navbar"></div>
    </header>
    <main>
      <div class="container marketing my-5">
        <h2 class="section-title modal-header pb-3">Autoridades</h2>
        <div class="row mb-3">
          <div class="col-3"></div>
          <div class="col-3 text-center">
            <img class="rounded-circle" src="img\Leaves.jpg" width="200" height="200">
            <h2 class="pt-2 ps-0">Director</h2>
            <h2 class="small-title" id="director">Carlos Alberto Rico</h2>
          </div>
  
          <div class="col-3 text-center">
            <img class="rounded-circle" src="img\Leaves.jpg" width="200" height="200">
            <h2 class="pt-2 ps-0">Vicedirector</h2>
            <h2 class="small-title" id="vicedirector">Valeria Dicrocce</h2>
          </div>
          <div class="col-3"></div>
        </div>

        <h2 class="title text-center modal-header">Consejo Departamental</h2>

        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 mb-5">
            <table class="table table-striped align-middle text-center">
              <thead class="table-borderless">
                <tr class="table-header">
                  <td><h2 class="table-header-text">Titulares</h1></td>
                  <td><h2 class="table-header-text">Suplentes</h2></td>
                </tr>
              </thead>
              <tbody id="consejo_departamental" style="border-top: none !important;">
                <tr>
                <td><h4 class="py-2">Fernando Genin</h4></td>
                <td><h4 class="py-2">Juan Carlos Lopez</h4></td>
                </tr>
                <tr>
                  <td><h4 class="py-2">Fernando Genin</h4></td>
                  <td><h4 class="py-2">Juan Carlos Lopez</h4></td>
                </tr>
                <tr>
                  <td><h4 class="py-2">Fernando Genin</h4></td>
                  <td><h4 class="py-2">Juan Carlos Lopez</h4></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-1"></div>
        </div>
        
        <h2 class="title text-center modal-header">Consejo Alumnos</h2>
  
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 mb-5">
            <table class="table table-striped align-middle text-center">
              <thead class="table-borderless">
                <tr class="table-header">
                  <td><h2 class="table-header-text">Titulares</h1></td>
                  <td><h2 class="table-header-text">Suplentes</h2></td>
                </tr>
              </thead>
              <tbody id="consejo_alumnos" style="border-top: none !important;">
                <tr>
                <td><h4 class="py-2">Fernando Genin</h4></td>
                <td><h4 class="py-2">Juan Carlos Lopez</h4></td>
                </tr>
                <tr>
                  <td><h4 class="py-2">Fernando Genin</h4></td>
                  <td><h4 class="py-2">Juan Carlos Lopez</h4></td>
                </tr>
                <tr>
                  <td><h4 class="py-2">Fernando Genin</h4></td>
                  <td><h4 class="py-2">Juan Carlos Lopez</h4></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
      <!-- FOOTER -->
    </main>
    <footer>
      <div th:replace="fragments/footer"></div>
    </footer>
    <script src="js\bootstrap.bundle.min.js"></script>
  </body>
</html>
