<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--Contenido del head-->
    <div th:replace="fragments/inner-head"></div>
    <title>Autoridades</title>
  </head>

  <body>
   
    <header>
      <!-- NAVBAR -->
      <div th:replace="fragments/navbar"></div>
    </header>
    
    <main>
      
      <div class="container">
        <div class="bg-light p-5 rounded mt-3">
          <h1>Autoridades</h1>
          <p class="lead">Acá van las autoridades del departamento de informática</p>
        </div>
      </div>

      <div class="container">
        <div class="bg-light p-5 rounded mt-3">
          <h1>Autoridades</h1>
          <p class="lead">Acá van las autoridades del departamento de informática</p>
          <a class="btn btn-lg btn-primary" href="/docs/5.1/components/navbar/" role="button">View navbar docs &raquo;</a>
        </div>
      </div>

      <hr class="featurette-divider mb-4">
      <!-- FOOTER -->
      <div th:replace="fragments/footer"></div>
    </main>
    <script src="js\bootstrap.bundle.min.js"></script>
  </body>
</html>
