<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--Contenido del head-->
    <div th:replace="fragments/inner-head"></div>
    <title>Bolsa de trabajo</title>
  </head>

  <body>
   
    <header>
      <!-- NAVBAR -->
      <div th:replace="fragments/navbar"></div>
    </header>
    
    <main>
      

    </main>
    <hr class="featurette-divider mb-4">
    <!-- FOOTER -->
    <div th:replace="fragments/footer"></div>
    <script src="js\bootstrap.bundle.min.js"></script>
  </body>
</html>
