<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/inner-head"></div>
    <title>Bolsa de trabajo</title>
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <div th:replace="fragments/navbar"></div>
    </header>
    
    <!-- MAIN -->
    <main>

      <div class="container mt-4 pb-2">
        <h1 class="title modal-header mb-3">Bosla de Trabajo</h1>
      </div>
  
      <div th:if="${!list.isEmpty()}" th:each="trabajo : ${list}" class="container">
        
        <div class="row">
          <div class="col-4 text-center">
            <img src="img/Leaves.jpg" class="rounded" height="240" width="340">
          </div>
          <div class="col-8 text-start">
            <h3 th:text="| ${trabajo.fecha} ${trabajo.titulo}"></h3>
            <p th:text="${trabajo.info}" class="lead"></p>
            <div class="text-end" style="margin-top: 10%; margin-right: 5%;">
              <a th:href="@{|/novedad?id=${trabajo.id_novedad}|}" type="button" class="btn btn-style rounded text-center">
                <h5 class="pt-2">Ver más <img src="img/chevron-forward.svg" height="20" width="20" class="white-filter"></h5>
              </a>
            </div>
          </div>
        </div>
        <hr class="featurette-divider my-4">
      </div>


      <!--Pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${prev == 0? 'disabled':''}">
            <a class="page-link" th:href="@{|/bolsatrabajo?page=${prev}|}">Anterior</a>
          </li>
          
          <li class="page-item" th:each="page : ${pages}" th:classappend="${current == page? 'active':''}">
            <a class="page-link" th:href="@{|/bolsatrabajo?page=${page}|}" th:text="${page}"></a>
          </li>
          
          <li class="page-item" th:classappend="${current == last? 'disabled':''}">
            <a class="page-link" th:href="@{|/bolsatrabajo?page=${next}|}">Siguiente</a>
          </li>
        </ul>
      </nav>


    </main>

    <!-- FOOTER -->
    <footer>
      <div th:replace="fragments/footer"></div>
    </footer>

    <!-- SCRIPTS -->
    <script src="js\bootstrap.bundle.min.js"></script>
  </body>
</html>
