<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/inner-head"></div>
    <title>Calendario Académico</title>
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <div th:replace="fragments/navbar"></div>
    </header>
    
    <!-- MAIN -->
    <main>
      <div class="container mt-5 pb-2">
        <h1 class="title modal-header">Calendario Académico</h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12 px-5">
            <table class="table table-striped align-middle text-center">
              <thead class="table-borderless">
                <tr class="table-header">
                  <th class="table-header-text table-date"><h3>Desde</h3></th>
                  <th class="table-header-text table-date"><h3>Hasta</h3></th>
                  <th class="table-header-text"><h3>Motivo</h3></th>
                </tr>
              </thead>
              <tbody id="tbody-calendario" style="border-top: none !important;">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>

    <!-- FOOTER -->
    <footer>
      <div th:replace="fragments/footer"></div>
    </footer>
    
    <!-- SCRIPTS -->
    <script src="js\bootstrap.bundle.min.js"></script>
    <script src="calendario.js"></script>
  </body>
</html>
