<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/inner-head"></div>
    <title>Docentes</title>
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <div th:replace="fragments/navbar"></div>
    </header>

    <!-- MAIN -->
    <main>
      <div class="container marketing my-5">
        <h1 class="section-title text-center">Docentes</h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12 mb-5">
            <table class="table table-striped align-middle text-center">
              <thead class="table-borderless">
                <tr class="table-header">
                  <td><h2 class="table-header-text">Imagen</h1></td>
                  <td><h2 class="table-header-text">Nombre</h2></td>
                  <td><h2 class="table-header-text">Título</h2></td>
                  <td><h2 class="table-header-text">Email</h2></td>
                  <td><h2 class="table-header-text">Asignatura</h2></td>
                </tr>
              </thead>
              <tbody id="tbody-docentes" class="table-borderless" style="border-top: none !important;">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
      
    <!-- FOOTER -->
    <footer>
      <div th:replace="fragments/footer"></div>
    </footer>

    <!-- SCRIPTS -->
    <script src="js\bootstrap.bundle.min.js"></script>
    <script src="docentes.js"></script>
  </body>
</html>
