<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/inner-head"></div>
    <title>Elecciones</title>
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <div th:replace="fragments/navbar"></div>
    </header>
    
    <!-- MAIN -->
    <main>
      <div class="container marketing mt-5 pb-2">
        <h1 class="title modal-header">Elecciones 2021</h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col-10 mb-5">
            <table class="table table-striped align-middle text-center">
              <thead class="table-borderless">
                <tr class="table-header">
                  <td><h2 class="table-header-text">Postulante</h2></td>
                  <td><h2 class="table-header-text">Documento</h2></td>
                  <td><h2 class="table-header-text">Votos</h2></td>
                </tr>
              </thead>
              <tbody id="tbody-elecciones" class="table-borderless" style="border-top: none !important;">
              </tbody>
            </table>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </main>

    <!-- FOOTER -->
    <footer>
      <div th:replace="fragments/footer"></div>
    </footer>

    <!-- SCRIPTS -->
    <script src="js\bootstrap.bundle.min.js"></script>
    <script src="elecciones.js"></script>

  </body>
</html>
