<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--Contenido del head-->
    <div th:replace="fragments/inner-head"></div>
    <title>Departamento de Informática</title>
  </head>

  <body>
   
    <header>
      <!-- NAVBAR -->
      <div th:replace="fragments/navbar"></div>
    </header>
    
    <main>
      <div class="container marketing my-5">
        <h1 class="section-title text-center">Alumnos graduados</h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-3"></div>

          <div class="col-6 mb-5">
            <table class="table table-striped align-middle text-center">
              <thead class="table-borderless">
                <tr class="table-header">
                  <td><h2 class="table-header-text">Nombre completo</h2></td>
                </tr>
              </thead>
              <tbody id="tbody-graduados" class="table-borderless" style="border-top: none !important;">
              </tbody>
            </table>
          </div>

          <div class="col-3"></div>
        </div>
      </div>
      

      <hr class="featurette-divider mb-4">
      <!-- FOOTER -->
      <div th:replace="fragments/footer"></div>
    </main>
    <script src="js\bootstrap.bundle.min.js"></script>
    <script src="graduados.js"></script>
  </body>
</html>
