<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/inner-head"></div>
    <title>Departamento de Informática</title>
  </head>

  <body>
    <header>
      <!-- NAVBAR -->
      <div th:replace="fragments/navbar"></div>
    </header>

    <main>
      <!-- CAROUSEL -->
      <!-- <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" style="background-image: url('img/Leaves.jpg');">
            <div class="carousel-caption text-start">
              <h1 class="section-title">Departamento de <br/> Ingeniería Informática</h1>
              <h3>Bienvenido al sitio oficial del departamento de Ingeniería Informática de la Universidad Nacional de Mar del Plata.<br/><br/><br/></h3>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('img/Leaves.jpg');">
            <div class="carousel-caption mb-5">
              <h1 class="section-title">Novedades</h1>
              <h3 class="mb-4">Ver las últimas novedades disponibles del Departamento</h3>
              <a th:href="@{noticias}" class="btn btn-carousel">
                <h4 class="pt-2">Ver Novedades</h4>
              </a>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('img/Leaves.jpg');">
            <div class="carousel-caption text-end mb-5">
              <h1 class="section-title">Bolsa de Trabajo</h1>
              <h3 class="mb-4">Oportunidades laborales del Departamento.</h3>
              <a th:href="@{bolsatrabajo}" class="btn btn-carousel">
                <h4 class="pt-2">Me Interesa</h4>
              </a>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div> -->

      <div class="index-header" style="background-image: url('img/Leaves.jpg');">
        <h1 class="section-sub-title">Departamento de <br/> Ingeniería Informática</h1>
        <h3>Bienvenido al sitio oficial del departamento de Ingeniería Informática de la Universidad Nacional de Mar del Plata.<br/><br/><br/></h3>
      </div>

      <!-- BOTONES -->
      <div class="container marketing pt-4 pb-5">
        <div class="row">
          <div class="col-lg-4">
            <img src="img\business.svg" width="100" height="150">
            <h2>Institucional</h2>
            <p>Toda la informacón sobre la institución y sus principales dirigentes.</p>
            <button class="btn-style btn-section-size rounded" id="btn-institucional">
              <h5 class="pt-2">Ver más <img src="img/arrow-down.svg" height="20" width="20" class="white-filter"></h5> 
            </button>
          </div>

          <div class="col-lg-4">
            <img src="img\hardware-chip.svg" width="100" height="150">
            <h2>Carrera</h2>
            <p>Todo lo que necesitas saber respecto a la carrera. Plan de estudio, asignatures optativas y más.</p>
            <button class="btn-style btn-section-size rounded" id="btn-carrera">
              <h5 class="pt-2">Ver más <img src="img/arrow-down.svg" height="20" width="20" class="white-filter"></h5> 
            </button>
          </div>
          
          <div class="col-lg-4">
            <img src="img\newspaper.svg" width="100" height="150">
            <h2>Novedades</h2>
            <p>Las últimas noticias del departamento y nuevas propuestas laborales.</p>
            <button class="btn-style btn-section-size rounded" id="btn-novedades">
              <h5 class="pt-2">Ver más <img src="img/arrow-down.svg" height="20" width="20" class="white-filter"></h5> 
            </button>
          </div>  
        </div>
      </div>

      <!-- BACK TO TOP -->
      <a class="btn btn-floating btn-lg" id="btn-back-to-top"> <img src="img\arrow-up.svg" height="40" width="26" class="white-filter"> </a>

      <!-- CARRERA -->
      <div class="b-example-divider"></div>

      <div class="container marketing py-5">
        
        <div class="row featurette mt-5" data-aos="fade-right">
          <div class="col-8 d-inline-block section pe-5 mb-5">
            <h2 class="section-sub-title modal-header ps-0 pb-3">Nuestra Carrera</h2>
            <h5 class="py-1">Aquí padrás encotrar toda la información que necesitás sobre la carrera de Ingeniería Informática de la Universidad Nacional de Mar del Plata.</h4>
            <div class="text-start pt-2">
              <a th:href="@{plan}" type="button" class="btn btn-mini btn-style rounded ms-0">
                <img src="img\git-branch.svg" class="white-filter pt-2" width="60" height="100" alt=""> 
                <h4>Plan de <br>Estudios</h4>
              </a>
              <a th:href="@{optativas}" type="button" class="btn btn-mini btn-style rounded pt-4">
                <img src="img\code-slash.svg" class="white-filter pt-2" width="60" height="100" alt=""> 
                <h4>Optativas<br></h4>
              </a>
              <a th:href="@{calendario}" type="button" class="btn btn-mini btn-style rounded">
                <img src="img\calendar.svg" class="white-filter pt-2" width="60" height="100" alt=""> 
                <h4>Calendario Académico</h4>
              </a>
              <a th:href="@{graduados}" type="button" class="btn btn-mini btn-style rounded pt-4">
                <img src="img\school.svg" class="white-filter pt-2" width="60" height="100" alt=""> 
                <h4>Graduados<br></h4>
              </a> 
            </div>
          </div>
          <div class="col-4 section-img">
            <img src="img/code-minimal.png" height="420" width="420" class="rounded">
          </div>
        </div>

        <div class="row featurette mt-3 mb-5" data-aos="fade-left">
          <div class="col-6 section-img text-start">
            <img src="img/home-office.png" alt="" height="420" width="600" class="rounded">
          </div>
          <div class="col-6 d-inline-block pe-2">
            <h2 class="section-sub-title modal-header pb-2 ps-0">Proyectos Finales</h2>
            <h5 class="py-1">Si sos un alumn@ avanzado y estás interesad@ comenzar tus PPS o tu trabajo final de grado, ingresá aqui.</h5>
            <div class="text-center pt-2">
              <a th:href="@{pps}" type="button" class="btn btn-mini btn-style rounded pt-4">
                <img src="img\puzzle.svg" class="white-filter pt-2" width="60" height="100" alt=""> 
                <h4>PPS</h4>
              </a> 
              <a th:href="@{trabajosfinales}" type="button" class="btn btn-mini btn-style rounded">
                <img src="img\medal.svg" class="white-filter pt-2" width="60" height="100" alt=""> 
                <h4>Trabajos <br>Finales</h4>
              </a>
            </div>
          </div>
        </div>

      </div>

      <!-- <div class="b-example-divider"></div>

      <div class="container marketing pt-4 my-5">

        <div class="row featurette mb-5" data-aos="fade-right">
          <div class="col-7 d-inline-block pe-5 mb-5">
            <h2 class="section-title modal-header pb-3">Nuestra Carrera</h2>
            <h4 class="pb-2 pt-1">Aquí padrás encotrar la información que necesitás sobre la carrera de Ingeniería Informática de la UNMDP.</h4>
            <div class="text-center pt-2 pe-4">
              <a th:href="@{plan}" type="button" class="btn btn-mini btn-style rounded">
                <img src="img\git-branch.svg" class="white-filter pt-2" width="60" height="100" alt=""> 
                <h4>Plan de <br>Estudios</h4>
              </a>
              <a th:href="@{optativas}" type="button" class="btn btn-mini btn-style rounded pt-4">
                <img src="img\code-slash.svg" class="white-filter pt-2" width="60" height="100" alt=""> 
                <h4>Optativas<br></h4>
              </a>
              <a th:href="@{calendario}" type="button" class="btn btn-mini btn-style rounded">
                <img src="img\calendar.svg" class="white-filter pt-2" width="60" height="100" alt=""> 
                <h4>Calendario Académico</h4>
              </a>
            </div>
          </div>
          <div class="col-5 text-end section-img">
            <img src="img/code-minimal.png" height="420" width="500" class="rounded">
          </div>
        </div>

        <div class="row featurette mt-5" data-aos="fade-left">
          <div class="col-5 section-img text-start">
            <img src="img/Leaves.jpg" alt="" height="420" width="500" class="rounded">
          </div>
          <div class="col-7 d-inline-block ps-3 pe-4">
            <h2 class="section-title modal-header pb-3 ms-4">Proyectos Finales</h2>
            <h4 class="pb-2 pt-1 ms-4">Si sos un alumn@ avanzad@, aquí podrás encontrar información sobre las PPS, trabajos finales y colegas graduados.</h4>
            <div class="text-center mb-5 pt-2">
              <a th:href="@{plan}" type="button" class="btn btn-mini btn-style rounded pt-4 ms-4">
                <img src="img\git-branch.svg" class="white-filter pt-2" width="60" height="100" alt=""> 
                <h4>PPS</h4>
              </a> 
              <a th:href="@{plan}" type="button" class="btn btn-mini btn-style rounded">
                <img src="img\git-branch.svg" class="white-filter pt-2" width="60" height="100" alt=""> 
                <h4>Trabajos <br>Finales</h4>
              </a>
              <a th:href="@{graduados}" type="button" class="btn btn-mini btn-style rounded pt-4">
                <img src="img\school.svg" class="white-filter pt-2" width="60" height="100" alt=""> 
                <h4>Graduados<br></h4>
              </a> 
            </div>
          </div>
        </div>

      </div> -->

    <!-- NOVEDADES -->
    <div class="b-example-divider"></div>

      <!-- <div class="container my-5">
        <div class="row" data-aos="fade-right">
          <div class="col-5 pt-5">
            <h2 class="section-title modal-header py-3">Novedades</h2>
            <div class="text-center mb-5 pt-4">
              <a th:href="@{noticias}" type="button" class="btn btn-bolsa rounded text-end" style="background-image: url('img/home-office.png');">
                <h4 class="title">Bolsa <br>de Trabajos</h4>
              </a>
            </div>
          </div>
          <div class="col-7 py-5 section-img text-center">
            <a th:href="@{bolsatrabajo}" type="button" class="btn btn-noticias rounded text-start" style="background-image: url('img/Leaves.jpg');">
              <h4 class="title">Noticias</h4>
            </a>
          </div>
        </div>
      </div> -->

      <div class="container marketing py-4 px-0">
        <h2 class="section-sub-title modal-header pb-2 mt-4" data-aos="fade-up">Novedades</h2>
        <div class="row">
          <div class="col-6 text-center mt-2 mb-5" data-aos="fade-right">
            <h2 class="sub-title">Últimas Noticias</h2>
            <img class="img-fluid img-novedades rounded mb-4" src="img/tecnonews.webp" width="580">
            <a th:href="@{noticias}">
              <button class="btn-style btn-section-long-size rounded" id="btn-institucional">
                <h5 class="pt-1">Ver últimas Novedades <img src="img/arrow-up.svg" height="20" width="20" class="white-filter"></h5> 
              </button>
            </a>
          </div>
          <div class="col-6 text-center mt-2 mb-5" data-aos="fade-left">
            <h2 class="sub-title">Bolsa de Trabajo</h2>
            <img class="img-fluid img-novedades rounded mb-4" src="img/home-office.png" width="580">
            <a th:href="@{bolsatrabajo}">
              <button class="btn-style btn-section-long-size rounded" id="btn-institucional">
                <h5 class="pt-1">Ver trabajos disponibles <img src="img/arrow-up.svg" height="20" width="20" class="white-filter"></h5> 
              </button>
            </a>
          </div>
        </div>  
      </div>

      <!-- <div class="container marketing py-4 px-0">
        <h1 class="section-title mt-3 mb-5 text-center" data-aos="fade-right"> Novedades </h1>
        <div class="row">
          <div class="col-6 text-center my-5" data-aos="fade-right">
            <h2 class="sub-title">Últimas Noticias</h2>
            <img class="img-fluid img-novedades rounded mb-4" src="img/tecnonews.webp" width="560">
            <a th:href="@{noticias}">
              <button class="btn-style btn-section-long-size rounded" id="btn-institucional">
                <h5 class="pt-1">Ver últimas Novedades <img src="img/arrow-up.svg" height="20" width="20" class="white-filter"></h5> 
              </button>
            </a>
          </div>
          <div class="col-6 text-center my-5" data-aos="fade-left">
            <h2 class="sub-title">Bolsa de Trabajo</h2>
            <img class="img-fluid img-novedades rounded mb-4" src="img/home-office.png" width="560">
            <a th:href="@{bolsatrabajo}">
              <button class="btn-style btn-section-long-size rounded" id="btn-institucional">
                <h5 class="pt-1">Ver trabajos disponibles <img src="img/arrow-up.svg" height="20" width="20" class="white-filter"></h5> 
              </button>
            </a>
          </div>
        </div>  
      </div> -->

      <!-- INSTITUCIONAL -->
      <div class="b-example-divider"></div>

      <div class="container marketing py-5 px-0">
        <h1 class="section-sub-title modal-header mt-3" data-aos="fade-right">
          Sobre la Institución
        <img src="img/logo-verde.svg" height="90" width="90"></img>
        </h1>
        <div class="row featurette pb-5 pt-3" data-aos="fade-down">
          <div class="text-center">
            <a th:href="@{autoridades}" type="button" class="btn btn-card btn-card-size rounded px-3">
              <br><img src="img\briefcase.svg" class="white-filter pt-2" width="60" height="100" alt=""> 
              <h3>Autoridades</h3>
              <h6 class="px-2 pt-4">Información sobre las principales autoridades del Depto. de Informática.</h6>
            </a>
            <a th:href="@{docentes}" type="button" class="btn btn-card rounded btn-card-size">
              <br><img src="img\book.svg" class="white-filter pt-2" width="60" height="100" alt=""> 
              <h3>Docentes</h3>
              <h6 class="px-2 pt-4">Todos los docentes que componen el Depto. de Informática.</h6>
            </a>
            <a th:href="@{investigacion}" type="button" class="btn btn-card rounded btn-card-size">
              <br><img src="img\search.svg" class="white-filter pt-2" width="60" height="100" alt=""> 
              <h3>Investigación</h3>
              <h6 class="px-2 pt-4">Grupos de investigación asociado a la rama de Informática.</h6>
            </a>
            <a th:href="@{elecciones}" type="button" class="btn btn-card rounded btn-card-size">
              <br><img src="img\mail.svg" class="white-filter pt-2" width="60" height="100" alt=""> 
              <h3>Elecciones</h3>
              <h6 class="px-2 pt-4">Aquí podrás encontrar los resultados de las Elecciones Departamentales 2021.<br></h6>
            </a>
          </div>
        </div>
      </div>
    </main>

    <!-- FOOTER -->
    <div th:replace="fragments/footer"></div>

    <!-- SCRIPTS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="js\bootstrap.bundle.min.js"></script>
    <script src="js\responsive.js"></script>
  </body>
</html>
