<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--Contenido del head-->
    <div th:replace="fragments/inner-head"></div>
    <title>Investigación</title>
  </head>

  <body>
   
    <header>
      <!-- NAVBAR -->
      <div th:replace="fragments/navbar"></div>
    </header>
    
    <main>
      
      <div class="container mt-5 mb-5">
        <h1 class="display-3 text-center">Investigación</h1>
      </div>
      <hr>

      <div class="container">
        <div class="bg-light p-5 rounded mt-3">
          <h3>Grupo de Ingenieria en Desarrollos Informáticos GIDI</h3>
          <div class="container">
            <p class="lead"><b>Integrantes:</b> Carlos Alberto Rico (Director) - Genin Fernando (Vicedirector) - Stella Massa</p>
          </div>
          <div class="container">
            <p class="lead"><b>Objetivo:</b> Intervenir en la confección, actualización y dictado de curriculas de materias optativas y/u obligatorias para satisfacer la demanda creciente en el área de Informática de las actuales y futuras carreras de grado y posgrado de la Facultad.</p>
          </div>

        </div>
      </div>

      <hr class="featurette-divider mb-4">
      <!-- FOOTER -->
      <div th:replace="fragments/footer"></div>
    </main>
    <script src="js\bootstrap.bundle.min.js"></script>
  </body>
</html>
