<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iniciar Sesión</title>
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
    <!--inner-head fragment-->
    <div th:replace="fragments/inner-head"></div>
  </head>

  <body class="text-center signin-bg">
    
    <main class="m-auto">
      <div class="signin-form">
        <form th:action="@{/login}" method="post">
          <img class="mb-4" src="../img/logo-verde.svg" alt="" width="72" height="57">
          <h1 class="h3 mb-4 fw-normal">Por favor, inicie sesión</h1>
          <div class="form-floating mb-1">
            <input type="text" class="form-control" name="username" id="username" placeholder="usuario">
            <label for="username" class="text-muted">Nombre de usuario</label>
          </div>
          <div class="form-floating mb-4">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            <label for="password" class="text-muted">Contraseña</label>
          </div>
          <button class="w-100 btn btn-lg btn-navbar" type="submit"><h5 class="my-0">Iniciar Sesión</h5></button>
          <div th:if="${param.error}" style="color: indianred;" class="pt-2"><h6 style="font-weight: 400;">Nombre de usuario o contraseña incorrectos</h6></div>
          <p class="mt-5 text-muted">&copy; Depto. de Informática</p>
        </form>
      </div>
    </main>

  </body>
</html>

<!--
<div class="checkbox mb-3">
  <label>
    <input type="checkbox" value="remember-me"> Recordarme
  </label>
</div>
-->