<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--Contenido del head-->
    <div th:replace="fragments/inner-head"></div>
    <title>Noticias</title>
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <div th:replace="fragments/navbar"></div>
    </header>
    
    <!-- MAIN -->
    <main>

      <div class="container mt-4 pb-2">
        <h1 class="title modal-header mb-3">Noticias</h1>
      </div>

      <div th:if="${!list.isEmpty()}" th:each="noticia : ${list}" class="container">
        <div class="row">
          <div class="col-4 text-center">
            <a th:href="@{|/novedad?id=${noticia.id_novedad}|}" type="button" class="btn">
              <img th:src="${noticia.imgurl}" class="rounded img-fluid news">
            </a>
          </div>
          <div class="col-8 text-start" style="position:relative;">
            <h2 th:text="${noticia.titulo}" style="font-weight: 400;"></h2>
            <h4 th:text="${noticia.info}" class="lead"></h4>
            <div class="" style="position:absolute; bottom:0px; right: 20px;">
              <h4 th:text="${noticia.fecha}" class="lead" style="font-style: italic;"></h4>
            </div>
          </div>
        </div>
        <hr class="featurette-divider my-4">
      </div>

      <!--Pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${prev == 0? 'disabled':''}">
            <a class="page-link" th:href="@{|/noticias?page=${prev}|}">Anterior</a>
          </li>
          
          <li class="page-item" th:each="page : ${pages}" th:classappend="${current == page? 'active':''}">
            <a class="page-link" th:href="@{|/noticias?page=${page}|}" th:text="${page}"></a>
          </li>
          
          <li class="page-item" th:classappend="${current == last? 'disabled':''}">
            <a class="page-link" th:href="@{|/noticias?page=${next}|}">Siguiente</a>
          </li>
        </ul>
      </nav>
    </main>

    <!-- FOOTER -->
    <footer>
      <div th:replace="fragments/footer"></div>
    </footer>

    <!-- SCRIPTS -->
    <script src="js\bootstrap.bundle.min.js"></script>
  </body>
</html>


    <!-- <div th:if="${!list.isEmpty()}" th:each="noticia : ${list}" class="container my-5">
      <div class="header-investigacion">
          <h4 th:text="| ${noticia.fecha} ${noticia.titulo}"></h4>
      </div>
      <div class="p-4 body-investigacion">
          <div class="container">
              <p th:text="${noticia.info}" class="lead"></p>
          </div>

          <div class="text-end">
            <a th:href="@{|/novedad?id=${noticia.id_novedad}|}" type="button" class="btn btn-section-size btn-style rounded text-center">
              <h4 class="pt-1">Ver</h4>
            </a>
          </div>
      </div>
    </div> -->
