<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--Contenido del head-->
    <div th:replace="fragments/inner-head"></div>
    <title>Novedad</title>
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <div th:replace="fragments/navbar"></div>
    </header>
    
    <!-- MAIN -->
    <main>
      <div class="container my-5">
        <h1 class="title modal-header mb-2 ps-0" th:text="${novedad.titulo}"></h1>
        <h5 class="text-end mb-3" style="font-style: italic;" th:text="${novedad.fecha}"></h5>
        <h5 style="white-space: pre-line" class="" th:text="${novedad.info}"></h5>
        <div class="text-center">
          <img class="text-center img-fluid mt-4 mb-2" th:src="${novedad.imgurl}">
          <h5 class="mb-4" style="font-style: italic;">Epígrafe.Epígrafe.Epígrafe.Epígrafe.Epígrafe.</h5>
        </div>
        <h5 style="white-space: pre-line" class="" th:text="${novedad.contenido}"></h5>
        <hr class="featurette-divider my-4">
        <div class="text-end">
          <a th:href="@{|${entidad}|}" type="button" class="btn btn-navbar me-2 ps-3 pe-4 pt-2"><h5><img src="img/chevron-back.svg" height="20" width="20" class="white-filter"> Volver</h5></a>
          <!--/noticias /bolsatrabajo-->
        </div>
      </div>
    </main>

    <!-- FOOTER -->
    <footer>
      <div th:replace="fragments/footer"></div>
    </footer>

    <!-- SCRIPTS -->
    <script src="js\bootstrap.bundle.min.js"></script>
  </body>
</html>
