<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/inner-head"></div>
    <title>Plan de Estudios</title>
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <div th:replace="fragments/navbar"></div>
    </header>
    
    <!-- MAIN -->
    <main>
      <div class="container mt-5 pb-2">
        <h1 class="title modal-header">Ingeniería Informática <i>(Plan 2010)</i></h1>
      </div>

      <div class="container mb-5">
        <div class="row">
          <div class="col-12 px-5 mb-5">
            <table class="table table-striped align-middle">
              
              <thead class="table-borderless">
                <tr class="table-header">
                  <td colspan="4" class="table-header-text text-center"><h4>Primer Año</h4></td>
                </tr>
              </thead>
              <thead class="table-sub-header" style="border-top: none !important;">
                <tr>
                  <td class="table-header-text ps-3"><h4>Asignatura</h4></td>
                  <td class="table-header-text"><h4>Cod.</h4></td>
                  <td class="table-header-text"><h4>CG</h4></td>
                  <td class="table-header-text"><h4>Correlativas</h4></td>
                </tr>
              </thead>
              <tbody class="table-borderless" style="border-top: none !important;" id="anio1">
              </tbody>

              <thead class="table-borderless" style="border-top: none !important;">
                <tr class="table-header">
                  <td colspan="4" class="table-header-text text-center"><h4>Segundo Año</h4></td>
                </tr>
              </thead>
              <thead class="table-sub-header" style="border-top: none !important;">
                <tr>
                  <td class="table-header-text ps-3"><h4>Asignatura</h4></td>
                  <td class="table-header-text"><h4>Cod.</h4></td>
                  <td class="table-header-text"><h4>CG</h4></td>
                  <td class="table-header-text"><h4>Correlativas</h4></td>
                </tr>
              </thead>
              <tbody class="table-borderless" style="border-top: none !important;" id="anio2">
              </tbody>

              <thead class="table-borderless" style="border-top: none !important;">
                <tr class="table-header">
                  <td colspan="4" class="table-header-text text-center"><h4>Tercer Año</h4></td>
                </tr>
              </thead>
              <thead class="table-sub-header" style="border-top: none !important;">
                <tr>
                  <td class="table-header-text ps-3"><h4>Asignatura</h4></td>
                  <td class="table-header-text"><h4>Cod.</h4></td>
                  <td class="table-header-text"><h4>CG</h4></td>
                  <td class="table-header-text"><h4>Correlativas</h4></td>
                </tr>
              </thead>
              <tbody class="table-borderless" style="border-top: none !important;" id="anio3">
              </tbody>

              <thead class="table-borderless" style="border-top: none !important;">
                <tr class="table-header">
                  <td colspan="4" class="table-header-text text-center"><h4>Cuarto Año</h4></td>
                </tr>
              </thead>
              <thead class="table-sub-header" style="border-top: none !important;">
                <tr>
                  <td class="table-header-text ps-3"><h4>Asignatura</h4></td>
                  <td class="table-header-text"><h4>Cod.</h4></td>
                  <td class="table-header-text"><h4>CG</h4></td>
                  <td class="table-header-text"><h4>Correlativas</h4></td>
                </tr>
              </thead>
              <tbody class="table-borderless" style="border-top: none !important;" id="anio4">
              </tbody>

              <thead class="table-borderless" style="border-top: none !important;">
                <tr class="table-header">
                  <td colspan="4" class="table-header-text text-center"><h4>Quinto Año</h4></td>
                </tr>
              </thead>
              <thead class="table-sub-header" style="border-top: none !important;">
                <tr>
                  <td class="table-header-text ps-3"><h4>Asignatura</h4></td>
                  <td class="table-header-text"><h4>Cod.</h4></td>
                  <td class="table-header-text"><h4>CG</h4></td>
                  <td class="table-header-text"><h4>Correlativas</h4></td>
                </tr>
              </thead>
              <tbody class="table-borderless" style="border-top: none !important;" id="anio5">
              </tbody>

            </table>
          </div>
        </div>
      </div>

      <hr class="featurette-divider mb-4">
      <!-- FOOTER -->
      <div th:replace="fragments/footer"></div>
    </main>
    <script src="js\bootstrap.bundle.min.js"></script>
    <script src="plan_estudio.js"></script>
  </body>
</html>
