<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/inner-head"></div>
    <title>Plan de Estudio</title>
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <div th:replace="fragments/navbar"></div>
    </header>
    
    <!-- MAIN -->
    <main>
      <div class="container mt-5 pb-2">
        <h1 class="title modal-header">Plan de Estudio</h1>
      </div>

      <div class="container mb-5">
        <div class="row">
          <div class="col-12 px-5 mb-5">
            <table class="table table-striped align-middle">
              <thead class="table-borderless">
                <tr class="table-header">
                  <td colspan="4" class="table-header-text text-center"><h4>Primer Año</h4></td>
                </tr>
              </thead>
              <tbody class="table-sub-header" style="border-top: none !important;">
                <tr>
                  <td class="table-header-text"><h5>Asignatura</h5></td>
                  <td class="table-header-text"><h5>Cod.</h5></td>
                  <td class="table-header-text"><h5>CG</h5></td>
                  <td class="table-header-text"><h5>Correlativas</h5></td>
                </tr>
              </tbody>
              <tbody class="table-borderless" style="border-top: none !important;" id="anio1">
              </tbody>

              <thead class="table-borderless">
                <tr class="table-header">
                  <td colspan="4" class="table-header-text text-center"><h4>Segundo Año</h4></td>
                </tr>
              </thead>
              <tbody class="table-sub-header" style="border-top: none !important;">
                <tr>
                  <td class="table-header-text"><h5>Asignatura</h5></td>
                  <td class="table-header-text"><h5>Cod.</h5></td>
                  <td class="table-header-text"><h5>CG</h5></td>
                  <td class="table-header-text"><h5>Correlativas</h5></td>
                </tr>
              </tbody>
              <tbody class="table-borderless" style="border-top: none !important;" id="anio2">
              </tbody>

              <thead>
                <tr>
                  <th colspan="4" class="color-bar"><h4>Segundo año</h4></th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th class="table-info"><h5>Asignatura</h5></th>
                  <th class="table-info"><h5>Cod.</h5></th>
                  <th class="table-info"><h5>CG</h5></th>
                  <th class="table-info"><h5>Correlativas</h5></th>
                </tr>
              </thead>
              <tbody id="anio2">
              </tbody>
              <thead>
                <tr>
                  <th colspan="4" class="color-bar"><h4>Tercer año</h4></th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th class="table-info"><h5>Asignatura</h5></th>
                  <th class="table-info"><h5>Cod.</h5></th>
                  <th class="table-info"><h5>CG</h5></th>
                  <th class="table-info"><h5>Correlativas</h5></th>
                </tr>
              </thead>
              <tbody id="anio3">
              </tbody>
              <thead>
                <tr>
                  <th colspan="4" class="color-bar"><h4>Cuarto año</h4></th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th class="table-info"><h5>Asignatura</h5></th>
                  <th class="table-info"><h5>Cod.</h5></th>
                  <th class="table-info"><h5>CG</h5></th>
                  <th class="table-info"><h5>Correlativas</h5></th>
                </tr>
              </thead>
              <tbody id="anio4">
              </tbody>
              <thead>
                <tr>
                  <th colspan="4" class="color-bar"><h4>Quinto año</h4></th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th class="table-info"><h5>Asignatura</h5></th>
                  <th class="table-info"><h5>Cod.</h5></th>
                  <th class="table-info"><h5>CG</h5></th>
                  <th class="table-info"><h5>Correlativas</h5></th>
                </tr>
              </thead>
              <tbody id="anio5">
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <hr class="featurette-divider mb-4">
      <!-- FOOTER -->
      <div th:replace="fragments/footer"></div>
    </main>
    <script src="js\bootstrap.bundle.min.js"></script>
    <script src="plan_estudio.js"></script>
  </body>
</html>
