<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--Contenido del head-->
    <div th:replace="fragments/inner-head"></div>
    <title>Plan de estudios</title>
  </head>

  <body>
   
    <header>
      <!-- NAVBAR -->
      <div th:replace="fragments/navbar"></div>
    </header>


    
    <main>
      
      <!--========================================================== Table =======================================================================-->

      <div class="container mt-5 mb-5">
        <h1 class="display-3 text-center">Plan de estudios</h1>
      </div>

      <hr>

      <div class="container mt-5">
        <div class="row">
          <div class="col"></div>
          <div class="col-10">
            <table class="table table-striped align-middle">
              <thead>
                <tr>
                  <th colspan="4" class="color-bar"><h4>Primer año</h4></th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th class="table-info"><h5>Asignatura</h5></th>
                  <th class="table-info"><h5>Cod.</h5></th>
                  <th class="table-info"><h5>CG</h5></th>
                  <th class="table-info"><h5>Correlativas</h5></th>
                </tr>
              </thead>
              <tbody id="anio1">
              </tbody>
              <thead>
                <tr>
                  <th colspan="4" class="color-bar"><h4>Segundo año</h4></th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th class="table-info"><h5>Asignatura</h5></th>
                  <th class="table-info"><h5>Cod.</h5></th>
                  <th class="table-info"><h5>CG</h5></th>
                  <th class="table-info"><h5>Correlativas</h5></th>
                </tr>
              </thead>
              <tbody id="anio2">
              </tbody>
              <thead>
                <tr>
                  <th colspan="4" class="color-bar"><h4>Tercer año</h4></th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th class="table-info"><h5>Asignatura</h5></th>
                  <th class="table-info"><h5>Cod.</h5></th>
                  <th class="table-info"><h5>CG</h5></th>
                  <th class="table-info"><h5>Correlativas</h5></th>
                </tr>
              </thead>
              <tbody id="anio3">
              </tbody>
              <thead>
                <tr>
                  <th colspan="4" class="color-bar"><h4>Cuarto año</h4></th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th class="table-info"><h5>Asignatura</h5></th>
                  <th class="table-info"><h5>Cod.</h5></th>
                  <th class="table-info"><h5>CG</h5></th>
                  <th class="table-info"><h5>Correlativas</h5></th>
                </tr>
              </thead>
              <tbody id="anio4">
              </tbody>
              <thead>
                <tr>
                  <th colspan="4" class="color-bar"><h4>Quinto año</h4></th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th class="table-info"><h5>Asignatura</h5></th>
                  <th class="table-info"><h5>Cod.</h5></th>
                  <th class="table-info"><h5>CG</h5></th>
                  <th class="table-info"><h5>Correlativas</h5></th>
                </tr>
              </thead>
              <tbody id="anio5">
              </tbody>
            </table>
          </div>
          <div class="col"></div>
        </div>
      </div>

      <hr class="featurette-divider mb-4">
      <!-- FOOTER -->
      <div th:replace="fragments/footer"></div>
    </main>
    <script src="js\bootstrap.bundle.min.js"></script>
    <script src="plan_estudio.js"></script>
  </body>
</html>
