<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--Contenido del head-->
    <div th:replace="fragments/inner-head"></div>
    <title>PPS</title>
  </head>

  <body>
   
    <header>
      <!-- NAVBAR -->
      <div th:replace="fragments/navbar"></div>
    </header>
    
    <main>
      
       <!-- PPS disponibles-->
       <div class="h2 mb-4">PPS disponibles</div>
      
       <div class="container">
         <div class="row">
           <div class="col-12 mb-5">
             <table class="table table-striped align-middle text-center">
               <thead class="table-borderless">
                 <tr class="table-header">
                   <td><h5 class="table-header-text">Entidad</h5></td>
                   <td><h5 class="table-header-text">Objetivo</h5></td>
                   <td><h5 class="table-header-text">Fecha Inicio</h5></td>
                   <td><h5 class="table-header-text">Fecha Fin</h5></td>
                   <td><h5 class="table-header-text">Presupuesto</h5></td>
                   <td><h3 class="table-header-text">Posibilidad de contratación?</h3></td>
                 </tr>
               </thead>
               <tbody id="tbody-disponibles" class="table-borderless" style="border-top: none !important;">
               </tbody>
             </table>
           </div>
         </div>
       </div>

       <!-- PPS en curso-->
       <div class="h2 mb-4">PPS en curso</div>
      
       <div class="container">
         <div class="row">
           <div class="col-12 mb-5">
             <table class="table table-striped align-middle text-center">
               <thead class="table-borderless">
                 <tr class="table-header">
                   <td><h3 class="table-header-text">Entidad</h3></td>
                   <td><h3 class="table-header-text">Objetivo</h3></td>
                   <td><h3 class="table-header-text">Fecha Inicio</h3></td>
                   <td><h3 class="table-header-text">Fecha Fin</h3></td>
                   <td><h3 class="table-header-text">Presupuesto</h3></td>
                   <td><h3 class="table-header-text">Posibilidad de contratación?</h3></td>
                   <td><h3 class="table-header-text">Estudiantes</h3></td>
                   <td><h3 class="table-header-text">Tutores</h3></td>
                   <td><h3 class="table-header-text">Lugar</h3></td>
                   <td><h3 class="table-header-text">pdts</h3></td>
                   <td><h3 class="table-header-text">pps</h3></td>
                   <td><h3 class="table-header-text">psc</h3></td>
                 </tr>
               </thead>
               <tbody id="tbody-curso" class="table-borderless" style="border-top: none !important;">
               </tbody>
             </table>
           </div>
         </div>
       </div>

       <!-- PPS finalizadas-->
       <div class="h2 mb-4">PPS en curso</div>
      
       <div class="container">
         <div class="row">
           <div class="col-12 mb-5">
             <table class="table table-striped align-middle text-center">
               <thead class="table-borderless">
                 <tr class="table-header">
                   <td><h3 class="table-header-text">Entidad</h3></td>
                   <td><h3 class="table-header-text">Objetivo</h3></td>
                   <td><h3 class="table-header-text">Fecha Inicio</h3></td>
                   <td><h3 class="table-header-text">Fecha Fin</h3></td>
                   <td><h3 class="table-header-text">Presupuesto</h3></td>
                   <td><h3 class="table-header-text">Posibilidad de contratación?</h3></td>
                   <td><h3 class="table-header-text">Estudiantes</h3></td>
                   <td><h3 class="table-header-text">Tutores</h3></td>
                   <td><h3 class="table-header-text">Lugar</h3></td>
                   <td><h3 class="table-header-text">pdts</h3></td>
                   <td><h3 class="table-header-text">pps</h3></td>
                   <td><h3 class="table-header-text">psc</h3></td>
                 </tr>
               </thead>
               <tbody id="tbody-finalizadas" class="table-borderless" style="border-top: none !important;">
               </tbody>
             </table>
           </div>
         </div>
       </div>

      <hr class="featurette-divider mb-4">
      <!-- FOOTER -->
      <div th:replace="fragments/footer"></div>
    </main>
    <script src="js\bootstrap.bundle.min.js"></script>
    <script src="pps.js"></script>
  </body>
</html>
