<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/inner-head"></div>
    <title>Trabajos Finales</title>
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <div th:replace="fragments/navbar"></div>
    </header>
    
    <!-- MAIN -->
    <main>
      <div class="container mt-5 pb-1">
        <h1 class="title text-center">Trabajos Finales</h1>
      </div>

      <div class="container pb-2">
        <h1 class="sub-title modal-header">En Curso</h1>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col-12 px-5 mb-2">
            <table class="table table-striped align-middle text-center">
              <thead class="table-borderless">
                <tr class="table-header">
                  <td><h3 class="table-header-text">Título</h3></td>
                  <td><h3 class="table-header-text">Estudiantes</h3></td>
                  <td><h3 class="table-header-text">Demandante</h3></td>
                  <td><h3 class="table-header-text">Directores</h3></td>
                  <td><h3 class="table-header-text">Repositorio</h3></td>
                </tr>
              </thead>
              <tbody id="tbody-trabajos-finales-no-concluidos" class="table-borderless" style="border-top: none !important;">
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="container mt-2 pb-2">
        <h1 class="sub-title modal-header">Finalizados</h1>
      </div>      
      <div class="container">
        <div class="row">
          <div class="col-12 px-5 mb-5">
            <table class="table table-striped align-middle text-center">
              <thead class="table-borderless">
                <tr class="table-header">
                  <td><h3 class="table-header-text">Título</h3></td>
                  <td><h3 class="table-header-text">Estudiantes</h3></td>
                  <td><h3 class="table-header-text">Demandante</h3></td>
                  <td><h3 class="table-header-text">Directores</h3></td>
                  <td><h3 class="table-header-text">Repositorio</h3></td>
                </tr>
              </thead>
              <tbody id="tbody-trabajos-finales-concluidos" class="table-borderless" style="border-top: none !important;">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>

    <!-- FOOTER -->
    <footer>
      <div th:replace="fragments/footer"></div>
    </footer>

    <!-- SCRIPTS -->
    <script src="js\bootstrap.bundle.min.js"></script>
    <script src="trabajosfinales.js"></script>
  </body>
</html>
